@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply bg-gray-50 p-2.5 border-2 border-slate-200 rounded-lg text-sm transition-all 
         focus:outline-none focus:border-blue-600 focus:ring-4 focus:ring-blue-600/10;
}
